<!DOCTYPE html>
<html>
<head>
  <title>StudentTesting</title>
</head>
<body>
<div><h3>HELLO FRIEND</h3></div>
<%= yield %>
 <p>List: <%= @users.each do |u| %></p>
    <%= u.email %>
  <% end %>
</body>
</html>