<!DOCTYPE html>
<html>
<head>
  <title>StudentTesting</title>
</head>
<body>
<div><h3>HELLO FRIEND</h3></div>
<p></p>


 <p>List: <%= @users.each do |u| %></p>
    <%= u.email %>
  <% end %>


<%= yield %>

</body>
</html>
